<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

 	<filter> 
   		<filter-name>auth</filter-name> 
   		<filter-class>it.geosolutions.fao.fra.entryform.login.Filter1</filter-class> 
 	</filter> 
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/entryForm.html</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/forestUser</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/forestUpdate</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/forestEnter</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/forestDelete</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/categoriesUpdate</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/categoriesUser</url-pattern> 
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>auth</filter-name> 
 		<url-pattern>/login.html</url-pattern> 
 	</filter-mapping>


	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.login.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>getUsername</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.login.GetCurrentUser</servlet-class>
		<init-param>
            <param-name>userDb</param-name>
            <param-value>postgres</param-value>
        </init-param>
        <init-param>
            <param-name>passwdDb</param-name>
            <param-value>postgres</param-value>
        </init-param>
        <init-param>
            <param-name>urlDb</param-name>
            <param-value>jdbc:postgresql://localhost:5432/eurogeoss</param-value>
        </init-param>
	</servlet>
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.login.LoginServlet</servlet-class>
		<init-param>
            <param-name>userDb</param-name>
            <param-value>postgres</param-value>
        </init-param>
        <init-param>
            <param-name>passwdDb</param-name>
            <param-value>postgres</param-value>
        </init-param>
        <init-param>
            <param-name>urlDb</param-name>
            <param-value>jdbc:postgresql://localhost:5432/eurogeoss</param-value>
        </init-param>
	</servlet>
	
	<servlet>
		<servlet-name>verify</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.login.VerifyLogged</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>forestEnter</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_a.servlets.ForestServletEnter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forestDelete</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_a.servlets.ForestServletDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forestUpdate</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_a.servlets.ForestServletUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forestUser</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_a.servlets.ForestServletUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>categoriesUser</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_b.servlets.CategoriesServletUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>categoriesUpdate</servlet-name>
		<servlet-class>it.geosolutions.fao.fra.entryform.table1_4_b.servlets.CategoriesServletUpdate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>forestEnter</servlet-name>
		<url-pattern>/forestEnter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forestDelete</servlet-name>
		<url-pattern>/forestDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forestUpdate</servlet-name>
		<url-pattern>/forestUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forestUser</servlet-name>
		<url-pattern>/forestUser</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>categoriesUser</servlet-name>
		<url-pattern>/categoriesUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>categoriesUpdate</servlet-name>
		<url-pattern>/categoriesUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>verify</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>getUsername</servlet-name>
		<url-pattern>/getUsername</url-pattern>
	</servlet-mapping>
	
	<persistence-unit-ref>
		<persistence-unit-ref-name>src/main/resources/eurogeoss-unit</persistence-unit-ref-name>
		<persistence-unit-name>eurogeoss-unit</persistence-unit-name>
	</persistence-unit-ref>
</web-app>